<div class="container">
  <h2 class="mt-3">コメント一覧</h2>
  <div class="row">
    <div class="col-md-12 mx-auto">
      <%= render 'admin/post_comments/all_comments', post_comments: @post_comments %>
    </div>
  </div>
</div>